html, body{
    margin: 0;
    padding: 0;
}

h1{
    padding: 20px;
    display: flex;
    justify-content: center;
}

.icon{
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    height: 50px;
    width: 50pxs;
}

.homepage{
    background-image: url(img/hkbg.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100wh;
    height: 100vh;
}

.comingsoon{
    display: flex;
    justify-content: center;
    padding: 300px;
}

.gameplay{
    padding: 100px; 
}

.revealtrailer{
    display: flex;
    justify-content:center;
}

.pictures{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 1355px;
    height: 195px;
}

.img-thumbnail{
    border-radius: 1.1500000000000004rem;

}


